html{
    max-height: 100% ! important;
    max-width: 100% ! important;
    overflow: hidden ! important;
    cursor: url(./assets/cookie-cursor.png), auto;
    user-select: none;
    background-color: #fff;
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0%;
}

#PerfectCookie {
    -webkit-user-drag: none;
    width: 450px;
    filter: blur(1px);
    transition: 0.5s;
    animation: rotate 30s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#PerfectCookie:hover {
    filter: blur(0px);
    width:500px;
}

.parent-container {
    height:100%;overflow:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    position: fixed;
    right: 0;
    top: 0;
}

#Cursor, #Canard , #Chat ,#Chien ,#Usine ,#reset  {
    border: none;
    width: 200px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    background-color: #94b5cf;
    border-radius:15px;
    transition: 0.5s;
    margin-right: 10px;
}

#Cursor:hover, #Canard:hover , #Chat:hover ,#Chien:hover ,#Usine:hover, #reset:hover {
    background-color: #596d7c;
    width: 225px;
}
#CursorPng {
    width: 35px;
    flex-direction: row;
}
#CanardPng {
    width: 65px;
    flex-direction: row;
}
#ChatPng {
    width: 55px;
    flex-direction: row;
}
#ChienPng{
    width: 50px;
    flex-direction: row;
}
#UsinePng {
    width: 60px;
    flex-direction: row;
}
#Cursor {
    cursor:pointer;
}
#Canard {
    cursor: url(./assets/canard-cursor.png), auto;
}
#Chat {
    cursor: url(./assets/chat-cursor.png), auto;
}
#Chien {
    cursor: url(./assets/chien-cursor.png), auto;
}
#Usine {
    cursor: url(./assets/usine-cursor.png), auto;
}
